@model IEnumerable<SoftServeCinema.Core.DTOs.Actors.ActorDTO>

@{
    ViewData["Title"] = "Актори";
    ViewData["PaginatorAction"] = "Index";
}

<div>
    <h3 class="text-center my-4">Актори</h3>

    @await Html.PartialAsync("_Paginator", Model)
    <div class="list-group my-4">
        @foreach (var actor in Model)
        {
            <a asp-action="Details" asp-route-id="@actor.Id" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@actor.Name</h5>
                </div>
            </a>
        }
    </div>
</div>

@await Html.PartialAsync("_Paginator", Model)