html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
header, footer {
    background: linear-gradient(to right, #B41616, #4E0A0A);
    position:sticky;
    display:flex;
    align-items:center;
    font-weight:700;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
    font-size:32px;
}
html, body {
    height: 100%;
}
html::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.content {
    flex-grow: 1;
}
.wrapper {
    /*display: flex;
    flex-direction: column;*/
    display:grid;
    grid-template-rows:70px 1fr 70px;
    grid-template-columns:1fr;
    min-height: 100%;
    overflow: clip;
}
.admin__wrapper {
    min-height:100%;
    overflow:clip;
    display:flex;
    flex-direction:column;
}
.gradient-custom, .auth-info__container {
    background-image: url('../images/bg-chairs.jpg');
    background-size: cover;
    background-attachment: scroll;
    padding: 10px 0px;
    background-position: 0% 65%;
    height: 100%;
    width: 100%;
    background-color: #333;
}
.footer {
    flex-shrink: 0;
}
.footer__container { 
}
.container__fluid a {
    text-decoration:none;
    color:white !important;
    display:block !important;
}
main.main {
    height: 100%;
    width: 100%;
}
.main__admin {
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-position: 0% 115%;
    background-image: url('../images/bg-chairs.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-color: #333;
}
.auth-info__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 30px;
}
    .auth-info__container a {
        padding: 5px 30px;
        background: linear-gradient(to right, #B41616, #4E0A0A);
        border-radius:10px;
        color:white !important;
        transition:background 1.7s ease none !important;
    }
        .auth-info__container a:hover {
            background: linear-gradient(to right, #4E0A0A, #B41616);
        }

.admin__container {
    padding: 30px;
    column-gap: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:100px;
    grid-column-gap:150px;
}

.admin__button {
    cursor: pointer;
    position: relative;
    padding: 20px 30px;
    background: black;
    font-size: 28px;
    text-align:center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    text-decoration: none;
}

    .admin__button:after,
    .admin__button:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #eee;
        transition: all 1s;
    }

    .admin__button:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid white;
        border-left: 5px solid white;
    }

    .admin__button:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
    }

    .admin__button:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

        .admin__button:hover:before,
        .admin__button:hover:after {
            width: 100%;
            height: 100%;
        }
.manage__container {
    margin:25px;
}
.manage__container table {
/*    display:inline;*/
}
.manage__container form label{
    font-size:24px;
}
    .manage__container form > div:not(:first-child) {
        justify-content: center;
    }
.multiselect {
    width: 100%;
}

.selectBox {
    position: relative;
   
}
.selectBox select option{
    box-sizing:border-box;
}
    .selectBox select option {
        display: flex;
        flex-wrap: wrap;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
}

    #mySelectOptions label {
        display: block;
        font-weight: normal;
        display: block;
        white-space: nowrap;
        min-height: 1.2em;
        background-color: #ffffff00;
        padding: 0 2.25rem 0 .75rem;
        /* padding: .375rem 2.25rem .375rem .75rem; */
    }

        #mySelectOptions label:hover {
            background-color: #1e90ff;
        }

.ticket__seat-available {
    border-color:blue;
}
.ticket__seat-unavailable {

    position: relative;
    background-color: #ccc;

}

    .ticket__seat-unavailable::before,
    .ticket__seat-unavailable::after {
        content: '';
        position: absolute;
        width: 100%;

        height: 2px;
        background-color: red;
    }

    .ticket__seat-unavailable::before {
        transform: rotate(45deg);
        top: 50%;
        left: 0;
    }

    .ticket__seat-unavailable::after {

        transform: rotate(-45deg);
        top: 50%;

        left: 0;
    }
.ticket__seat-basic {
    border-color:skyblue;
}
.ticket__seat-vip {
    border-color: red;
}

.info__container {
    color:white;
}
.left-col {
    background-color: black;
    padding: 20px 50px;
}
.info__image {
    border-radius:40px;
}
.info__daytime {
    margin-top:40px;
} 
.info__daytime i {
   font-size:70px;
}
.daytime__container {
    background-color: #B41616;
    text-align: center;
    padding:0px 20px;
    border-radius: 20px;
    font-weight: 700;
    width:100%;
    font-size:20px;
    font-family: "Inter", sans-serif;
}
.info__daytime > div > .col, .col-4 {
    display:flex;
    align-items:center;
}
.info__daytime > div > .col div p:last-child {
    margin-bottom:0px;
}
.info__price {
    margin-top:130px;
}
.info__price div p {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 22px;
}
.price__container-basic, .price__container-vip {
    position: relative;
}
.info__price div:before {
    content: "";
    position: absolute;
    top: 5%;
    left: -1%;
    height: 40px;
    width: 25px;
    color: blue;
    border-radius:5px;
    background-color: blue;
}
.info__price .price__container-vip:before {
    background-color: red;
}
.info__price div p:first-child {
    font-size:18px;
}
    .info__price div p:last-child {
        font-size: 24px;
    }
.ticket__seat {
    padding: 25px 15px;
    margin:2px;
    border-radius:5px;
}
.ticket__container {
    margin:20px 0px 0px 5%;
    width:250px;

}
.summary__container {
    background-color: #B41616;
    display:flex;
    flex-direction:column;
    padding:0px;
}
.summary__container > .summary__info {
    flex-grow:1;
}

.summary__tickets_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding:20px;
}
.summary__title {
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "Inter", sans-serif;
}
.summary__title p {
    margin-bottom:0px;
}
.tickets__info {
    color: #A9A9A9;
    font-size:20px;
}
.tickets__container {
    margin-top:10px !important;
    margin-right:1px !important;
    padding:0px 20px;
    display:flex;
    justify-content:space-between;

}
.tickets__container img {
    transform: scale(80%);
}
.ticket__info {
    display: flex;
    width: 48%;
    justify-content: space-between;
    font-size: 20px;
    background: white;
    border: 1px solid blue;
    padding: 20px;
    font-family: "Inter", sans-serif;
    align-items: center;
    margin-top: 5px;
    margin-left:10px;
    border-radius: 10px;
}
.ticket__info button {
    border:none;
    background:none;
    font-size:30px;
    z-index:10000;
}
.ticket__row_seat, .ticket__price_cancel-button {
    display: flex;
    flex-direction: column;
}
    .ticket__row_seat span:nth-child(2) span, .ticket__price_cancel-button {
        font-weight: 700;
    }
    .ticket__row_seat, .ticket__price_cancel-button {
        height:100%;
    }
.summary__submit {
    background-color: maroon;
    margin: 0px !important;
    text-align: center;
}
    .summary__submit form {
        display:flex;
        justify-content:center;
    }
    .summary__submit input[type="submit"] {
        border: none;
        margin-bottom: 10px;
        background-color: #B41616;
        padding: 20px 80px;
        display: inline-block !important;
        max-width: 300px;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size:30px;
        border-radius: 30px;
    }
.summary__title {
    display:flex;
    justify-content:space-between;
}

