html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
header, footer {
    background: linear-gradient(to right, #B41616, #4E0A0A);
    position:sticky;
    display:flex;
    align-items:center;
    font-weight:700;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
    font-size:32px;
}
html, body {
    height: 100%;
}
.content {
    flex-grow: 1;
}
.wrapper {
    /*display: flex;
    flex-direction: column;*/
    display:grid;
    grid-template-rows:70px 1fr 70px;
    grid-template-columns:1fr;
    min-height: 100%;
    overflow: clip;
}
.gradient-custom {
    background-image: url('../images/bg-chairs.jpg');
    background-size: cover;
    background-attachment: scroll;
    padding: 10px 0px;
    background-position: 0% 65%;
    height: 100%;
    width: 100%;
    background-color: #333;
}
.footer {
    flex-shrink: 0;
}
.footer__container { 
}
.container__fluid a {
    text-decoration:none;
    color:white !important;
    display:block !important;
}
.main { 
    height: 100%;
    width: 100%;
}