
@{
}

<div class="auth-info__container">
    <p>You have actived your account successfully</p>
    </br>
    <p>Please login to perform tickets operation</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
</div>

