
@{
}

<div class="auth-info__container">
    <div>
        <p>You have actived your account successfully</p>
    </div>
    
    <div>
        <p>Please login to perform tickets operation</p>
    </div>
    
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
</div>

