@model SoftServeCinema.Core.DTOs.Users.UserLoginDTO
@{
    var errorMessage = TempData["ErrorMessage"] as string;
    var email = TempData["Email"] as string;
}
<section class="gradient-custom">
    <div class="row d-flex justify-content-center align-items-center h-100" style="padding:0px 50px;">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="padding:0px 50px;margin:0px 50px;">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body px-5 py-2 text-center">

                    <div class="mt-md-4">

                        <h2 class="fw-bold text-uppercase">Forgot Password</h2>
                        <p class="text-white-50">Please enter your email to reset password!</p>

                        <form asp-action="Login" method="post" class="row g-3">
                            <div class="col-12 text-start">
                                <label asp-for="Email" class="form-label">Email</label>
                                <input asp-for="Email" class="form-control form-control-lg" value="@email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            @if (!string.IsNullOrEmpty(errorMessage))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @errorMessage
                                </div>
                            }
                            <div class="col-6 text-center w-100">
                                <button type="submit" class="mt-3 btn btn-outline-light btn-lg px-5">
                                    Send mail
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>