@model SoftServeCinema.Core.DTOs.Users.UserLoginDTO


<form asp-action="Login" method="post" class="row g-3">
    <div class="col-12">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" type="email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" type="password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-12">
        <a asp-controller="User" asp-action="GoogleLogin" class="btn btn-primary">LogInByGoogle</a>
    </div>

    <div class="col-6">
        <button type="submit" class="btn btn-primary w-100">
            <i class="bi bi-plus"></i> Login
        </button>
    </div>
</form>