@model SoftServeCinema.Core.DTOs.Users.UserRegisterDTO

@{
    ViewData["Title"] = "Register";
    var errorMessage = TempData["ErrorMessage"] as string;
    var firstName = TempData["FirstName"] as string;
    var lastName = TempData["LastName"] as string;
    var email = TempData["Email"] as string;

}
<section class="gradient-custom">
    <div class="row d-flex justify-content-center align-items-center h-100" style="padding:0px 50px;">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="padding:0px 50px;margin:0px 50px;">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body px-5 py-1 text-center">

                    <div class="">

                        <h2 class="fw-bold text-uppercase">Register</h2>
                        <p class="text-white-50">Please enter your login and password!</p>

                        <form asp-action="Register" method="post" class="row g-3">
                            <div class="col-12 text-start">
                                <label asp-for="FirstName" class="form-label">FirstName</label>
                                <input asp-for="FirstName" class="form-control form-control-lg" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-start">
                                <label asp-for="LastName" class="form-label">LastName</label>
                                <input asp-for="LastName" class="form-control form-control-lg" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-start">
                                <label asp-for="Email" class="form-label">Email</label>
                                <input asp-for="Email" class="form-control form-control-lg" type="email" >
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-start">
                                <label asp-for="Password" class="form-label">Password</label>
                                <input asp-for="Password" class="form-control form-control-lg" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            @if (!string.IsNullOrEmpty(errorMessage))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @errorMessage
                                </div>
                            }
                            <div class="col-6 text-center w-100">
                                <button type="submit" class="mt-1 btn btn-outline-light btn-lg px-5">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

