
@{
    
}
<div class="auth-info__container">
    <p>You have been successfully registered</p>
    </br>
    <p>Please check your email for confirmation mail</p>
    <p>to activate your account</p>
</div>
