@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Main page</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Manage">Movies Manage</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Genre" asp-action="Index">Genres</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Genre" asp-action="Manage">Genres Manage</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tag" asp-action="Index">Tags</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tag" asp-action="Manage">Tags Manage</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Actor" asp-action="Index">Actors</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Actor" asp-action="Manage">Actors Manage</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Director" asp-action="Index">Directors</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Director" asp-action="Manage">Directors Manage</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="Index">Sessions</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="Manage">Sessions Manage</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Ticket" asp-action="Index">Tickets</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Ticket" asp-action="Manage">Tickets Manage</a>
</div>
