@{
    Layout = "_StockLayout";
}
<main class="main__admin">
    <div class="admin__container">
        <a class="admin__button" asp-area="" asp-controller="Tag" asp-action="Manage">
            Tags
        </a>
        <a class="admin__button" asp-area="" asp-controller="Genre" asp-action="Manage">
            Genres
        </a>
        <a class="admin__button" asp-area="" asp-controller="Movie" asp-action="Manage">
            Movies
        </a>
        <a class="admin__button" asp-area="" asp-controller="Actor" asp-action="Manage">
            Actors
        </a>
        <a class="admin__button" asp-area="" asp-controller="Director" asp-action="Manage">
            Directors
        </a>
        <a class="admin__button" asp-area="" asp-controller="Session" asp-action="Manage">
            Sessions
        </a>
        <a class="admin__button" asp-area="" asp-controller="Home" asp-action="Index">
            Main Page
        </a>
        @if (User.IsInRole("SuperAdmin"))
        {
            <a class="admin__button" asp-area="" asp-controller="SuperAdmin" asp-action="Index">
                Admins
            </a>
        }
        
    </div>
</main>