@model SoftServeCinema.Core.DTOs.Sessions.SessionDTO

@{
    ViewData["Title"] = "Оновити сеанс";
}

<h1 class="text-center">Оновити сеанс</h1>
<hr />

<form asp-action="Edit" method="post" enctype="multipart/form-data" class="row g-3">

    <div class="form-group">
        <label asp-for="MovieId" class="control-label">Фільм</label>
        <select asp-for="MovieId" asp-items="@(ViewBag.Movies)"  class="form-control"></select>
        <span asp-validation-for="MovieId" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label asp-for="StartDate" class="form-label">Дата сеансу</label>
        <input asp-for="StartDate" class="form-control">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label asp-for="BasicPrice" class="form-label">Ціна</label>
        <input asp-for="BasicPrice" class="form-control">
        <span asp-validation-for="BasicPrice" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label asp-for="VipPrice" class="form-label">Ціна[VIP]</label>
        <input asp-for="VipPrice" class="form-control">
        <span asp-validation-for="VipPrice" class="text-danger"></span>
    </div>

    <div class="col-6">
        <a asp-action="Manage" class="btn btn-secondary w-100">
            <i class="bi bi-arrow-left"></i> Назад
        </a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary w-100">
            <i class="bi bi-plus"></i> Оновити
        </button>
    </div>
</form>
